<!DOCTYPE html>
<html lang="es" ng-app="preguntas">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Empleados - Preguntas</title>

		<!-- Bootstrap CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/font-awesome.css" rel="stylesheet">
		<link href="../css/side-wraper.css" rel="stylesheet">
		<!--Mis estilos-->
		<link href="../css/estilos.css" rel="stylesheet">
		<link href="../css/menu.css" rel="stylesheet">
		<link href="../css/breadcrumbs.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.respuestas{
				height: 50px;
			}
			.CajaPregunta{
				border-bottom: 1px solid black;
			}
			.BordeCaja{
				border-bottom: 1px solid black;
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
			.rotado{
				transform:rotate(-90deg);
				padding-top: 120px;
				padding-bottom: 120px;
				text-align: center;
			}
			.BordeIzq{
				border-left: 1px solid black;
			}
			.BordeDer{
				border-right: 1px solid black;
			}
			.form-radio{
				width:20px !important;
				height:20px!important;
			}
			@media(max-width: 940px){
				.submenu{
					transform:translate(0px,-55px) !important;
				}
				h4{
					font-size: 95%;
				}
			}
		</style>
	</head>
	<body>
	<div id="wrapper" ng-controller="preguntaList">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#menu-toggle"  id="menu-toggle" style="text-align: center;">
                    	<button class="btn btn-primary" >Cerrar</button>
                    </a>
                </li>
                <li>
                	<a style="visibility: hidden;">
                		<!--estan ocultos pues su objetivo es llenar el espacio :)-->
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-file-text-o icono_grandes"></i>
                		<h4 >de rrelleno</h4>
                		</div>
                	</a>
                </li>
                <li>
                    <a href="evaluacion-empleados.html" class="verde">
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-file-text-o icono_grandes"></i>
                		<h4 >Evaluaciones</h4>
                		</div>
                	</a>
                </li>
                <li>
                    <a style="visibility: hidden;">
                    	<!--estan ocultos pues su objetivo es llenar el espacio :)-->
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-clock-o icono_grandes"></i>
                		<h4 >de rrelleno</h4>
                		</div>
                	</a>
                </li>
                <li>
                    <a href="../reportes/reportes.html" class="morado">
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-bar-chart icono_grandes"></i>
                		<h4 >Resultados</h4>
                		</div>
                	</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row" id="menu">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" id="mostrar" class="navbar-toggle pull-left menu_responsive" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">logo</a>
						</div>
						<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
							<li>
								<span class="col-xs-8"><h2>Usuario</h2> </span>
								<span class="col-xs-4" id="icono_user"><i class="fa fa-user"></i></span>
							</li>	
						</ul>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							
						</div><!-- /.navbar-collapse -->
					</nav>
				</div>
				
				<div class="row caja_der" >
					<div  class="col-sm-12  pregunta">
						<div class="row BordeCaja" id="cabecera">
							<div class="BordeDer col-sm-2">Competencia</div>
							<div class="col-sm-10">
								<div class="BordeDer col-sm-8"></div>
								<div class=" col-sm-4">
									<div class="col-sm-12">
										<div class=" BordeIzq BordeDer col-sm-2"><strong>1</strong></div>
										<div class="BordeDer col-sm-2"><strong>2</strong></div>
										<div class="BordeDer col-sm-2"><strong>3</strong></div>
										<div class="BordeDer col-sm-2"><strong>4</strong></div>
										<div class="col-sm-2"><strong>5</strong></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row BordeCaja" ng-repeat="(key, e) in examen">
							<div class="BordeDer CajaPregunta col-sm-2">
								<div class="rotado">
									<strong>{{e.competencia}}</strong>
								</div>
							</div>
							<div class=" CajaPregunta col-sm-10" ng-repeat="(key_p, p) in e.preguntas">
								<div class="  col-sm-8">
									<p>{{p.pregunta}}</p>
								</div>
								<div class="col-sm-4 respuestas">
									<div class="col-sm-12 respuestas">
										<div class="respuestas  BordeIzq BordeDer col-sm-2">
				                        	<div>
					                        	<label>
					                        	    <input class="form-radio" type="radio" ng-checked="r.seleccion"  value="1" ng-click="seleccion($event)" name="{{key + ' - ' + p.pregunta }}" id="{{key_p}}" >
					                        	</label>
				                        	</div>
										</div>
										<div class="respuestas BordeDer col-sm-2">
											<div>
					                        	<label>
					                        	    <input class="form-radio" type="radio" ng-checked="r.seleccion"  value="2" ng-click="seleccion($event)" name="{{key + ' - ' + p.pregunta }}" id="{{key_p}}" >
					                        	</label>
				                        	</div>
										</div>
										<div class="respuestas BordeDer col-sm-2">
											<div>
					                        	<label>
					                        	    <input class="form-radio" type="radio" ng-checked="r.seleccion"  value="3" ng-click="seleccion($event)" name="{{key + ' - ' + p.pregunta }}" id="{{key_p}}" >
					                        	</label>
				                        	</div>
										</div>
										<div class="respuestas BordeDer col-sm-2">
											<div>
					                        	<label>
					                        	    <input class="form-radio" type="radio" ng-checked="r.seleccion"  value="4" ng-click="seleccion($event)" name="{{key + ' - ' + p.pregunta }}" id="{{key_p}}" >
					                        	</label>
				                        	</div>
										</div>
										<div class="respuestas col-sm-2">
											<div>
					                        	<label>
					                        	    <input class="form-radio" type="radio" ng-checked="r.seleccion"  value="5" ng-click="seleccion($event)" name="{{key + ' - ' + p.pregunta }}" id="{{key_p}}" >
					                        	</label>
				                        	</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- <div  class="well well-lg btn-{{$index + 1}}" ng-repeat="(key, e) in examen">
							<div id="pagina{{$index + 1}}"></div>
							<br>
							<br>
							<br>
							<br>
							<br>
							<div  class="row container-fluid " >
								<h4  class="col-sm-12"><strong>{{e.competencia}}</strong></h4>
										<ol class="col-sm-10 col-sm-offset-1" style="text-align:justify">
											<li ng-repeat="(key_p, p) in e.preguntas">
												<p>{{p.pregunta}}</p>
						                        <div  ng-repeat="r in p.respuestas">
						                        	<div style="font-size: 1.3em; margin-bottom: 20px;">
							                        	<label>
							                        	    <input type="radio" ng-checked="r.seleccion"  value="{{key}}" ng-click="seleccion($event)" name="{{key + ' - ' + p.pregunta }}" alt="{{key_p}}" id="{{$index}}" >
							                        	    {{r.respuesta}}
							                        	</label>
						                        	</div>
						                        </div>
											</li>
										</ol>

										<div class="col-xs-2 col-xs-offset-10" >
				                        	<a class="btn" ng-click="GuardarRespuestas($index)" style="color: green">
					                        	<div class="col-xs-6"  style="text-align: center;">
					                        		<i class="fa fa-save fa-4x"></i> <br>
						                            Guardar
					                        	</div>
				                        	</a>
										</div>
							</div>
						</div> -->
						<div class="col-xs-2 col-xs-offset-5">
							<button type="button" ng-click="EnviarRespuestas()" class="btn btn-success btn-lg">Enviar Respuestas</button>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

		<!-- jQuery -->
		<script src="../js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/angular1.min.js"></script>
		<!--MIS APPS-->
		<script src="../js/examenInit.js" type="text/javascript"></script>

		<script type="text/javascript" >
		// accion del boton mostrar del navbar
			$("#mostrar").click(function(){
		        $("#wrapper").toggleClass("toggled");
			});
			$("#menu-toggle").click(function(e) {
		        e.preventDefault();
		        $("#wrapper").toggleClass("toggled");
		    });
		</script>
	</body>
</html>