<!DOCTYPE html>
<html lang="es" ng-app="preguntas">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Empleados - Preguntas</title>

		<!-- Bootstrap CSS -->
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/font-awesome.css" rel="stylesheet">
		<link href="../css/side-wraper.css" rel="stylesheet">
		<!--Mis estilos-->
		<link href="../css/estilos.css" rel="stylesheet">
		<link href="../css/menu.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<style type="text/css">
			.submenu{
				transform:translate(-35px,-55px) !important;
			}
			.pregunta{
				padding: 1% 5% 1% 5%
			}
			.add-on{
				position: absolute;
				transform:translate(-18px,3px) !important;
			}
			@media(max-width: 940px){
				.submenu{
					transform:translate(0px,-55px) !important;
				}
				h4{
					font-size: 95%;
				}
			}
		</style>
	</head>
	<body>
	<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#menu-toggle"  id="menu-toggle" style="text-align: center;">
                    	<button class="btn btn-primary" >Cerrar</button>
                    </a>
                </li>
                <li>
                	<a style="visibility: hidden;">
                		<!--estan ocultos pues su objetivo es llenar el espacio :)-->
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-file-text-o icono_grandes"></i>
                		<h4 >de rrelleno</h4>
                		</div>
                	</a>
                </li>
                <li>
                    <a href="Moduloempleados.html" class="verde">
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-file-text-o icono_grandes"></i>
                		<h4 >Evaluación</h4>
                		</div>
                	</a>
                </li>
                <li>
                    <a style="visibility: hidden;">
                    	<!--estan ocultos pues su objetivo es llenar el espacio :)-->
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-clock-o icono_grandes"></i>
                		<h4 >de rrelleno</h4>
                		</div>
                	</a>
                </li>
                <li>
                    <a href="../reportes/reportes.html" class="morado">
                		<div class="col-xs-12 caja_izq row-centered"><i class="fa fa-bar-chart icono_grandes"></i>
                		<h4 >Resultados</h4>
                		</div>
                	</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row" id="menu">
					<nav class="navbar navbar-default" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" id="mostrar" class="navbar-toggle pull-left menu_responsive" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">logo</a>
						</div>
						<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
							<li>
								<span class="col-xs-8"><h2>Usuario</h2> </span>
								<span class="col-xs-4" id="icono_user"><i class="fa fa-user"></i></span>
							</li>	
						</ul>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							
						</div><!-- /.navbar-collapse -->
					</nav>
				</div>
				<div class="row" >
					<div class="row">
						<div class="row" id="iconos_der">
							<div ng-controller="preguntaList" class="col-sm-12 caja_der pregunta">
								<script type="text/javascript">
								        var sortingOrder = 'name';
								    </script>
								          <!--
								            <div class="input-append">
								                <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
								            	<span class="add-on"><i class="fa fa-search"></i></span>
								            </div>
								            -->   
						                    <div ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse" class="col-sm-12">
						                        <p>{{item.pregunta}}</p>
						                        <ul ng-repeat="r in item.respuestas">
						                        	<li>{{r.respuesta}}</li>
						                        </ul>
						                    </div>
								            <div class="col-sm-12">
							                    <td colspan="6">
							                    	
							                        <div class="col-sm-4 col-sm-offset-4">
							                        	<ul class="pagination">
								                    		<li ng-class="{disabled: currentPage == 0}">
							                                    <a href ng-click="prevPage()">« Anterior</a>
							                                </li>
							                                <li ng-repeat="n in range(pagedItems.length)"
							                                    ng-class="{active: n == currentPage}"
							                                ng-click="setPage()">
							                                    <a href ng-bind="n + 1">1</a>
							                                </li>
							                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
							                                    <a href ng-click="nextPage()">Siguiente »</a>
							                                </li>
								                    	</ul>
							                        </div>
							                    </td>
							                </div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-offset-7 col-sm-5 submenu">
								<a href="listado-competencias.html" class="col-xs-4  col-sm-offset-3 col-sm-3 caja_der azul">
									<div  style="text-align: center"><i class="fa fa-arrow-circle-left fa-3x"></i>
									<h4 class="azul">Regresar</h4>
									</div>
								</a>
								
								<div class="col-xs-4  col-sm-3 caja_der azul" style="text-align: center"><i class="fa fa-question fa-3x"></i>
								<h4 >Ayuda</h4>
								</div>
								<div class="col-xs-4  col-sm-3 caja_der azul" style="text-align: center"><i class="fa fa-times fa-3x"></i>
								<h4 >Cerrar</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

		<!-- jQuery -->
		<script src="../js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/angular1.min.js"></script>
		<script src="../js/app.js"></script>
		<script type="text/javascript" >
		// accion del boton mostrar del navbar
			$("#mostrar").click(function(){
		        $("#wrapper").toggleClass("toggled");
			});
			$("#menu-toggle").click(function(e) {
		        e.preventDefault();
		        $("#wrapper").toggleClass("toggled");
		    });
		</script>
	</body>
</html>
<script type="text/javascript">
	// valor temporal
	var preguntalst = [
		{pregunta: "Contribuye a generar una cultura orientada al logro de resultados velando por mantener la efectividad de los procesos." },
		{pregunta: "Alinea sus propios planes de trabajo con las metas del área e identifica recursos y planes de acción realistas y necesarios a corto, mediano y largo plazo. " },
		{pregunta: "Analiza posibles obstáculos o barreras que pueden impedir el logro de los objetivos y propone soluciones para removerlos.  " },
		{pregunta: "Analiza posibles obstáculos o barreras que pueden impedir el logro de los objetivos y propone soluciones para removerlos.  " }
	];
	miApp.controller("preguntaList", function($scope, $filter){
		// init
		$scope.sortingOrder = sortingOrder;
		$scope.reverse = false;
		$scope.filteredItems = [];
		$scope.groupedItems = [];
		$scope.itemsPerPage = 1;
		$scope.pagedItems = [];
		$scope.currentPage = 0;
		$scope.items = [
		    {pregunta: "Contribuye a generar una cultura orientada al logro de resultados velando por mantener la efectividad de los procesos.", respuestas:[
			{respuesta: "CASI NUNCA"},
			{respuesta: "EN POCAS OCASIONES"},
			{respuesta: "NORMALMENTE"},
			{respuesta: "CON FRECUENCIA"},
			{respuesta: "SIEMPRE"}
		]},
			{pregunta: "Alinea sus propios planes de trabajo con las metas del área e identifica recursos y planes de acción realistas y necesarios a corto, mediano y largo plazo. ", respuestas:[
			{respuesta: "CASI NUNCA"},
			{respuesta: "EN POCAS OCASIONES"},
			{respuesta: "NORMALMENTE"},
			{respuesta: "CON FRECUENCIA"},
			{respuesta: "SIEMPRE"}
		] },
			{pregunta: "Analiza posibles obstáculos o barreras que pueden impedir el logro de los objetivos y propone soluciones para removerlos.  ", respuestas:[
			{respuesta: "CASI NUNCA"},
			{respuesta: "EN POCAS OCASIONES"},
			{respuesta: "NORMALMENTE"},
			{respuesta: "CON FRECUENCIA"},
			{respuesta: "SIEMPRE"}
		] },
			{pregunta: "Analiza posibles obstáculos o barreras que pueden impedir el logro de los objetivos y propone soluciones para removerlos.  ", respuestas:[
			{respuesta: "CASI NUNCA"},
			{respuesta: "EN POCAS OCASIONES"},
			{respuesta: "NORMALMENTE"},
			{respuesta: "CON FRECUENCIA"},
			{respuesta: "SIEMPRE"}
		]}];

		var searchMatch = function (haystack, needle) {
		    if (!needle) {
		        return true;
		    }
		    return haystack.toLowerCase().indexOf(needle.toLowerCase()) !== -1;
		};

		// init the filtered items
		$scope.search = function () {
		    $scope.filteredItems = $filter('filter')($scope.items, function (item) {
		        for(var attr in item) {
		            if (searchMatch(item[attr], $scope.query))
		                return true;
		        }
		        return false;
		    });
		    // take care of the sorting order
		    if ($scope.sortingOrder !== '') {
		        $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
		    }
		    $scope.currentPage = 0;
		    // now group by pages
		    $scope.groupToPages();
		};
		
		// calculate page in place
		$scope.groupToPages = function () {
		    $scope.pagedItems = [];
		    
		    for (var i = 0; i < $scope.filteredItems.length; i++) {
		        if (i % $scope.itemsPerPage === 0) {
		            $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [ $scope.filteredItems[i] ];
		        } else {
		            $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
		        }
		    }
		};
		
		$scope.range = function (start, end) {
		    var ret = [];
		    if (!end) {
		        end = start;
		        start = 0;
		    }
		    for (var i = start; i < end; i++) {
		        ret.push(i);
		    }
		    return ret;
		};
		
		$scope.prevPage = function () {
		    if ($scope.currentPage > 0) {
		        $scope.currentPage--;
		    }
		};
		
		$scope.nextPage = function () {
		    if ($scope.currentPage < $scope.pagedItems.length - 1) {
		        $scope.currentPage++;
		    }
		};
		
		$scope.setPage = function () {
		    $scope.currentPage = this.n;
		};

		// functions have been describe process the data for display
		$scope.search();

		
	});
</script>